<%= form_for @employee, :html => { :class => "form-horizontal employee" } do |f| %>

    <% if @employee.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@employee[:first_name]) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@employee[:last_name]) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@employee[:email]) %>
  </div>

  <div class="form-group">
    <label class='control-label'>Teams</label>
    <ul class="list-group">
    <%= f.collection_check_boxes :team_ids, Team.all, :id, :name do |box| %>
      <li class="list-group-item">
      <%= box.label do %>
      <%= box.check_box + box.text %>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            employees_path, :class => 'btn btn-default' %>

<% end %>
