<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @comment.employee %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
